
.board-grid {
    display: flex;
    background: lightslategrey;
    border: 3px solid darkblue;
    border-radius: 8px;
    box-sizing: content-box;
    padding: 4px;
    flex-wrap: wrap;
}

.cell {
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    line-height: 40px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    box-sizing: border-box;
    cursor: pointer;
}

.cell:hover {
    border: 2px solid mediumblue;
}

.cheat-input {
    color: transparent;
    cursor: pointer;
}

.cheat-input:hover {
    color: unset;
}